<!--      ЛОББИ С КАРТОЙ       -->

<script>
getCoordinates = function(){

//var pos;
//var posLat;
//var posLon;


function onSuccess(position) {
         var pos = "["+position.coords.latitude+","+position.coords.longitude+"]"  ;
        //pos = position;
       
        
      //  hideMarkers(posLon);
          
            return hideMarkers(position);
            return updateUserPos(position);
      //alert(pos);
    }

     //onError Callback receives a PositionError object
    //
    function onError(error) {
        alert('code: '    + error.code    + '\n' +
                'message: ' + error.message + '\n');
    } 
    
    geolocOpt = { maximumAge: 3000, timeout: 150000, enableHighAccuracy: false };
   	
    navigator.geolocation.getCurrentPosition(onSuccess,onError,geolocOpt);   

    }
    
    function updateUserPos(position){
    	geolocOpt2 = { maximumAge: 3000, timeout: 150000, enableHighAccuracy: false };
    	navigator.geolocation.watchPosition(onSuccess,onError,geolocOpt2);
    	var map2 = $("#map1").dxMap("instance");
   	map2.addMarker( {
                                title: "Вы ",
                                location: [position.coords.latitude,position.coords.longitude],
                               // clickAction: changeMarkerVisibility();
                              })
    	
    }
    
selectedIndex = ko.observable(0);
menuVisible = ko.observable(false);
items = [
        { text: 'Автомойки:', icon: 'plus' },
        { text: 'Дойче Стандарт', icon: 'plus' },
        { text: 'Автоцентр Альянс', icon: 'plus' },
        { text: 'ООО Автомойка', icon: 'plus' },
        { text: 'Авто Баня', icon: 'plus' },
        { text: 'Эксперт', icon: 'plus' },	
        { text: '->' }	
]



mapMarkers = [
  {
    title: "Дойче Стандарт ",
    location: [61.816328,34.31619],
    clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block'; 	
	}
  },
  {
    title: "Автоцентр Альянс",
    location: [61.811413,34.316155],
	clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block';  }
  },
  {
    title: "ООО Автомойка",
    location: [61.805034,34.280579],
	clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block';  }
  }
];
 
providers = [
  { text: "bing" },
  { text: "google" },
  { text: "googleStatic" }
];
currentProvider = ko.observable("google");
 
changeMarkerVisibility = function () {
    mapMarkers[0].tooltip.isShown = !mapMarkers[0].tooltip.isShown;
    
}
 
//Assigns the clicked tab text to the currentProvider variable
tabClicked = function (itemClickOptions) {
  currentProvider(itemClickOptions.itemData.text);
};

 var gohome=function() {
	AutoWashApp.app.navigate('home');
}

 var gomoika=function() {
	AutoWashApp.app.navigate('moika');
}
 
 var hideMarkers=function(position){
     
	
   //  var posLat = position.coords.latitude;
     //var posLon = position.coords.longitude;
    
     
    
     
  itemName = document.getElementById('itemText').innerHTML;
   getCoordinates();   
  if (itemName != "Автомойки:"  ){
       
      
    switch (itemName){
           case items[1].text:
           
           //alert(position.coords.latitude,position.coords.longitude);
           //navigator.geolocation.getCurrentPosition(onSuccess,onError);
           
        var posLat = position.coords.latitude;
     	var posLon = position.coords.longitude;
    
             // alert(posLat+","+posLon);
            var map = $("#map1").dxMap("instance");
            var mapOptions = {
            	location:[posLat,posLon],
                zoom: 15,
                routes: [{
                weight: 5,
                color: "blue",
                locations: [
                  //[61.805034,34.280579],
                 //pos,
                   [posLat,posLon],
                
                  [61.816328,34.31619]
                  
                ]
            }]
            }
            
                //mapMarkers[0] = undefined;
                map.removeMarker(0);//remove marker
                map.removeMarker(0);//remove marker
                map.removeMarker(0);//remove marker
               
                map.addMarker( {
                                title: "Дойче Стандарт ",
                                location: [61.816328,34.31619],
                                clickAction: function () { document.getElementById('moika1').style.display = 'block';
                                                           document.getElementById('dark_bg').style.display = 'block'; 	
                                }
                              }
                             )
               // map.addRoute(routeOptions);
               // map.repaint();
                itemName = "Автомойки:";
                
                map.option(mapOptions);
                
                document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                
             
                //alert('Дойче Стандарт');
                break
                case items[2].text:
                alert('Авто Альянс');
                 document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                break
                case items[3].text:
                alert('ООО Автомойка');
                 document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                break
                case items[4].text:
                alert('Автобаня');
                 document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                break
                case items[5].text:
                alert('Эксперт');
                 document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                break
                case items[6].text:
                alert('-->');
                 document.getElementById('itemText').innerHTML = "Автомойки:";//stops the switch execution
                break
                default:
                
                break
        }
         
     }
     else{
     	updateUserPos();
     }
     //	setTimeout("hideMarkers()",90000)
 }

</script>


<div data-options="dxView : { name: 'lobby', toolbar:false  } " >

  <div  data-options="dxContent : { targetPlaceholder: 'content' } " >  
      

      
          <div class="top_bar">
              
          <div class="gps_but"></div>
            
          <form>
       		<input type="text" class="search_txt" placeholder="Поиск"/>
       		<div class="search_bt"></div>
       </form>
              
        </div> 
<div id="slideOut" data-bind="dxSlideOut:{dataSource: items,  itemClickAction: hideMarkers, selectedIndex: selectedIndex,  menuVisible: menuVisible, }">
    <div data-options="dxTemplate : { name: 'item' } ">
        
         <div class="map" id="map1" data-bind="dxMap: {
  				markers: mapMarkers,
                width: screen.width,
                height: screen.height,
				location: '61.8085012, 34.30240631',
				zoom: 5,
                markerIconSrc: 'img/marker_ico.png' ,
  				provider: currentProvider
				}">
        </div>
        <p>Currently selected menu item is: <b id="itemText" data-bind="text: text"></b> </p>
       
    </div>
   
    <div data-options="dxTemplate : { name: 'menuItem' } ">
         <div data-bind="text: text"></div>
    </div>
</div>
        <div class="bot_bar">
        <div style=" width:100%; height:1px; clear:both;"></div>
        <div id="liniya" style="background:#6C6" data-bind="dxAction: gohome ">МОИ ЗАКАЗЫ</div>
        <div id="liniya" data-bind="dxAction: gohome ">ИЗБРАННОЕ</div>
        <div style=" width:100%; height:1px; clear:both;"></div>
        </div>     
          
          <div id="moika1" class="moika"  data-bind="dxAction: gomoika "><img src="img/marker_info.png" width="130" height="130" /> </div>
          <div id="dark_bg" class="dark" onclick="document.getElementById('moika1').style.display = 'none';document.getElementById('dark_bg').style.display = 'none';"></div>
          
          <div data-bind="dxTabs: { dataSource: providers, itemClickAction: tabClicked, selectedIndex: 			1 }"></div>
		
 
      
      
	</div>
    </div>
</div>
