<!--     МОЙКА      -->

<script>
date = new Date();
time = new Date();

 var golobby=function() {
	AutoWashApp.app.navigate('lobby');
}

</script>


<div data-options="dxView : { name: 'moika', toolbar:false  } " >
  <div  data-options="dxContent : { targetPlaceholder: 'content' } " >  
     <div data-bind="dxScrollView: { }">
          <div class="top_bar">
          <div class="home_but" data-bind="dxAction: golobby "></div>
          <div style="width:100%; text-align:center; padding-top:10px;">АВТОМОЙКА</div>
          <div class="izb_but" ></div>
        </div> 
        
      <div style="width:100%; height:auto; margin-top:55px;">
       <img src="img/image_wash1.jpg" style="width:100%; height:auto;" /></div>
      <div class="panel_pod_fotoi">
      <div style=" width:100%; height:1px; clear:both;"></div>
        <div id="liniya" style="color:#2b2b2b;">РЕЙТИНГ</div>
        <div id="liniya" style="color:#2b2b2b; font-size:12px; padding-top:10px;">ПРОЛОЖИТЬ МАРШРУТ
        </div>
      <div style=" width:100%; height:1px; clear:both;"></div>       
      </div>
      
      <div class="panel_moika_info">
       <b>Отличная и экономисная мойка. Экономит ваше время и деньги.
		Вежливый персонал проконсультирует Вас по любому вопросу.</b> <br/> <br/>
       Адрес: Петрозаводск, ул. Шотмана дом 4, 2й этаж.      <br/>
       Режим работы: Понедельник - Пятница 9.00 - 20.00<br/>
       <a href="tel:+79213457678">Позвонить епта</a>
       Номер телефона: <br/>
		(8142) 56-25-84
    </div>
    
    
    <div class="panel_zakaz">
    
    <div class="dx-fieldset">
    <div class="dx-field">    
        <div class="dx-field-label" style="color:#efefef;">Дата</div>    
        <div class="dx-field-value" data-bind="
            dxDateBox: { value: date, format: 'date' }"></div>  
    </div>
    <div class="dx-field">
        <div class="dx-field-label" style="color:#efefef;">Время</div>
        <div class="dx-field-value" data-bind="
            dxDateBox: { value: time, format: 'time' }"></div>  
    </div> 
    
    <div class="but_zakaz" onclick="alert('Бронь успешна и молодец');">ЗАБРОНИРОВАТЬ МОЙКУ</div>
      
    </div>
    
    
    </div>
    </div>
</div>